@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


$p-clr: goldenrod;
$btn-clr: rgb(238, 181, 37);
$bg-light: #fafafa;
$bg-dark: #eaeaea;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

html {
    width:100vw;
    overflow-x:hidden;
}

body {
    font-family: 'Heebo', sans-serif;
    color: floralwhite;
}

html.no-scroll, body.no-scroll {
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: floralwhite;
}

h5 {
    font-size: 1rem;
}

ul {
    list-style: none;
}

.light-bg {
    background-color: $bg-light;
    color: #333;
}

.section-header {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 1;

    &::after {
        content: '';
        height: 5px;
        width: 60px;
        background-color: $p-clr;
        margin-top: 5px;
    }
}