@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


$p-clr: goldenrod;
$btn-clr: rgb(238, 181, 37);
$bg-light: #fafafa;
$bg-dark: #f4f3f3;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;

    width:100vw;
    overflow-x:hidden;
}

body {
    font-family: 'Heebo', sans-serif;
    color: floralwhite;

    width:100vw;
    overflow-x:hidden;
}

html.no-scroll, body.no-scroll {
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: floralwhite;
}

h5 {
    font-size: 1rem;
}

ul {
    list-style: none;
}

.light-bg {
    background-color: $bg-light;
    color: #333;
}

.dark-bg {
    background-color: $bg-dark;
    color: #333;
}