footer {
    background: #222;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;

        h5 {
            font-size: 1.3rem;
            margin-bottom: 20px;
        }

        h6 {
            font-size: 1rem;
            font-weight: lighter;
            line-height: 1.4rem;
            display: flex;
            align-items: center;

            &#city {
                margin-left: 34px;
            }

            i {
                font-size: 24px;
                margin-right: 10px;
            }
        }

        .social-media{

            a {
                margin-right: 5px;
            }

            img {
                width: 30px;
            }
        }
    }

    .links {
        margin-top: 30px;
    }
}

@media(min-width: 768px) {
    footer .footer-container {
        grid-template-columns: 1fr 1fr 1fr;

        iframe {
            width: 400px;
            height: 300px;
        }
    }
}