.main-container {
    position: relative;
    overflow: hidden;
}

.landing-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-height: 80vh;

    .section-header {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        line-height: 1;
    }
}

.landing-section.image-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;

    .bg-image {
        height: 100%;
        overflow: hidden;
        background: url('../img/pouring-coffee2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: 1;
    }
}

.landing-section.image-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;

    .bg-image {
        height: 100%;
        overflow: hidden;
        background: url('../img/pouring-coffee3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        grid-row: 1/2;

    }
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10vw;
    position: relative;

    .about-content {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        position: relative;
        right: 10vw;
        opacity: 0%;
        transition: all 1s;

        &.slide {
            right: 0;
            opacity: 100%;
        }
    
        .button-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px 0;
        }
    }

    .about-img {
        max-height: 400px;
        max-width: 100%;
        margin: 10px 0;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 50px 10vw;

    .icons-container {
        display: grid;
        grid-template-columns: minmax(200px, 300px);
        gap: 100px;
        margin-top: 60px;
        text-align: center;


        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            img {
                height: 100px;
                width: 100px;
                margin-bottom: 20px;
            }
        }
    }

    .buttons-container {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .btn {
            margin: 10px 20px;
        }
    }

    .section-header::after {
        display: none;
    }

    h5 {
        max-width: 600px;
    }
}

.background-vectors {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .bg-vector {
        opacity: 4%;
        position: relative;
        width: 500px;
        height: 500px;
        pointer-events: none;
        flex-shrink: 0;
    
        &.left {
            top: 50px;
            right: 400px;
        }
    
        &.right {
            width: 300px;
            height: 300px;
            top: 450px;
            left: 250px;
        }
    }
}

.match-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 50px 10vw;
    height: 100%;

    .brand {
        position: absolute;
        transform: scale(6);
        opacity: 5%;
        z-index: 0;
        left: 100px;
        bottom: 0px;
    }

    .match-content {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        position: relative;
        left: 10vw;
        transition: all 1s;
        opacity: 0%;

        &.slide {
            left: 0;
            opacity: 100%;
        }

        .matchmaker-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-top: 70px;
            position: relative;
            left: 10vw;
            opacity: 0%;
            transition: all 1s;

            &.slide {
                left: 0;
                opacity: 100%;
            }
    
            h5 {
                font-size: 1.2rem;
            }
    
            .btn {
                margin-top: 40px;
            }
    
            .beans-container {
                display: flex;
                margin-bottom: 20px;
        
                .bean {
                    background: url('../svg/bean.svg');
                    height: 35px;
                    width: 35px;
                    transform: rotate(90deg);
                    opacity: 50%;
                    margin-right: 3px;
                    transition: all .1s;
        
                    &:hover {
                        opacity: 100%;
                        cursor: pointer;
                    }
                }
        
                .bean.active {
                    opacity: 100%;
                }
        
                .bean.selected {
                    opacity: 100%;
                }
            }
        }
    }
}

@media(min-width: 480px) {
    .matchmaker-container {
        border-radius: 20px;
        background:#fbfbfb;
        box-shadow: 0 0px 15px rgba(33,33,33,0.1);
        padding: 40px 70px;
    }

    .match-container .brand, .about-container .brand {
        transform: scale(10);
    }
}

@media(min-width: 550px) {
    .section-header::after {
        content: '';
        height: 5px;
        width: 60px;
        background-color: $p-clr;
        margin-top: 5px;
    }
}

@media(min-width: 992px) {
    .contact-container .icons-container {
        grid-template-columns: repeat(3, minmax(150px, 300px));
    }

    .landing-section.image-left {
        grid-template-columns: 1fr 1.3fr;
        grid-template-rows: 1fr;
    }

    .match-container, .contact-container, .about-container {
        padding: 100px 0;
    }
}

@media(min-width:1300px) {
    .landing-section.image-right {
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 1fr;

        .bg-image {
            grid-row: initial;
        }
    }
}