.btn {
    padding: .6rem 2rem;
    border-radius: 5px;
    transition: all .2s;
    color: #333;
    font-weight: bold;
    display: inline-block;

    &.main {
        background-color: $btn-clr;

        &:hover {
            background-color: lighten($btn-clr, 15);
        }
    }

    &.secondary {
        border: 1px solid #333;
        padding: .4rem 1.5rem;

        &:hover {
            background-color: #333;
            color: floralwhite;
        }
    }
}

.nav-container {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 26px;
    z-index: 4;


    &:hover {
        cursor: pointer;
    }

    .line {
        background-color: floralwhite;
        width: 35px;
        height: 3px;
        border-radius: 20px;
        transition: all .4s;

        &:nth-of-type(2) {
            width: 28px;
        }
    }
}

.toggle-button.active {
    .line:nth-of-type(2) {
        opacity: 0;
    }

    .line:nth-of-type(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .line:nth-of-type(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }
}

.toggle-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 600px;
    max-width: 100vw;
    z-index: 3;
    transform: translateX(100%);
    transition: transform .5s;

    background-color: rgba(34,34,34, .95);
    display: flex;
    align-items: center;
    justify-content: center;

    .links-container {
        height: 60%;
        width: 60%;
        margin: auto;
    }

    .menu-links {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .menu-link {
        font-size: 1.5rem;
        opacity: 0%;
        transition: all .5s ease-in;
        line-height: 1;

        a::after {
            content: '';
            display: block;
            background-color: $p-clr;
            height: 2px;
            width: 0%;
            margin-top: 5px;
            z-index: 3;
            transition: all .2s ease-out;
        }

        &:hover {
            a::after {
                width: 100%;
            }
        }
    }
}

.toggle-menu.active {
    transform: translateX(0%);
    box-shadow: 0 0 10px rgba(0,0,0,.4);

    .menu-link {
        opacity: 100%;
    }
}

.overlay {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: 2;
    opacity: 0%;
    transition: height 0s, opacity .5s;
}

.overlay.active {
    height: 100vh;
    opacity: 100%;
}

@media(min-width: 480px) {
    .nav-container {
        padding: 40px 60px;
    }
}